@use 'sass:math';

// Altere os valores abaixo conforme a necessidade
// tamanho da fonte a unidade padrão é px
$size-base-desktop: 16;

// razão da fonte em relação ao tamanho base
$text-ratio-desktop: 1.25;

$header-height: 108;

@function size($base, $ratio, $step, $unit: px) {
    @return math.round($base * math.pow($ratio, $step)) + $unit;
}

.bold{
    font-weight: 800 !important;
}

.title-1, h1{
    overflow-wrap: normal;
    font-size: size($size-base-desktop, $text-ratio-desktop, 5);
    font-weight: 300;
    line-height: 1;
}

.title-2, h2{
    font-size: size($size-base-desktop, $text-ratio-desktop, 4);
    font-weight: 300;
    line-height: 1;
}

.title-3, h3{
    font-size: size($size-base-desktop, $text-ratio-desktop, 3);
    font-weight: 400;
    line-height: 1.2;
}

.title-4, h4{
    font-size: size($size-base-desktop, $text-ratio-desktop, 2);
    font-weight: 500;
    line-height: 1.2;
}

.font-body,
.font-body-2,
.tooltip {
    font-weight: 400;
    line-height: 1.5;
}

.font-body {
    font-size: $size-base-desktop + px;
}

.font-body-2 {
    font-size: $size-base-desktop - 2 + px;
}

.tooltip {
    font-size: $size-base-desktop - 4 + px;
}

// tamanho da tela subitraindo o header
.screen{
    height: calc(100dvh - #{$header-height}px);
}