node_modules
# Keep environment variables out of version control


/src/generated/prisma
/logs

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
